.staffs {
    width: 100%;
    max-width: 1024px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.staffItem {
    flex: 1;
    gap: 10px;
    display: flex;
    flex-direction: column;
}

.staffImg {
    width: 100%;
    object-fit: cover;
}

.staffName {
    font-weight: bold;
}

.staffServices {
    font-weight: 500;
}


.booking>button {
    background-color: #a39193;
    color: white;
    border: none;
    padding: 3px;
    margin-right: 10px;
    font-weight: bold;
}